* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*::selection {
    background: #7d2ae8;
    color: #fff;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6a3ca5;
}
body {
    background: url('IMG/SELECTION.jpg');
    
}
.wrapper {
    position: relative;
    width: 400px;
    height: 350px;
    background: #dcdbdb;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
i {
    font-size: 6.5em;
    color: #080709;
    border: 3px solid transparent;
    outline: 2px solid #e3e2e3;
    border-radius: 50%;
}
h2 {
    font-size: 1.5em;
    color: #000000;
    margin: 10px;
}
.btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #7d2ae8;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
button:nth-child(1) {
    margin-left: -200px;
    background: #7d2ae8;
}
button:nth-child(2) {
    margin-right: -200px;
    color: #7d2ae8;
}